
<%# video_tag("http://download.blender.org/peach/trailer/trailer_400p.ogg", :height => 265, :width => 390, :controls => true, :autobuffer => true, :poster => 'divorce.png') %>

<div class="grid_10" id="intro_photo"> 
  <%= image_tag 'depressed.png' %>
</div> 

<div class="grid_1">
  <div class="photo_bar"></div>
</div> 

<div class="grid_13 intro"> 
  <h1 class="title">Could You Be Depressed?</h1> 
  <h1 class="title_alt">Take Our Quiz</h1> 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div> 

<div class="clear"></div> 
<%= render 'shared/hr' %>


<div class="grid_10" id="intro_photo"> 
  <%= image_tag 'dog.png' %>
</div> 

<div class="grid_1">
  <div class="photo_bar"></div>
</div> 

<div class="grid_13 intro"> 
  <h1 class="title">And Now</h1> 
  <h1 class="title_alt">A Dog</h1> 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div> 

<div class="clear"></div> 
<%= render 'shared/hr' %>


<div class="grid_24" id="who">
  <%= image_tag 'gerri.png', :class => 'left' %>
  <h1 class="title_alt">Who is Gerri Ratigan?</h1>
  <p class="first">
    <strong>Perhaps you put aside your career or your dreams and are now left feeling stuck, angry or hurt.</strong>
  </p>
  <p class="last">
    You are not alone. Even if you feel like your whole life is over. Please, be brave because there is a new life waiting for you. As a coach having gone through a divorce myself, I've come to the firm belief that there is a huge gift here. Yet most of us don't know how to access this gift. I can teach you how to find the gift and use it as the foundation of a new exciting life. You <em>can</em> create a life you love from the ashes of the old.
  </p>
</div>
<%= render 'shared/footer' %>
