<!DOCTYPE html>
<html>
  <head>
    <title>MyDoctor</title>
    <%= stylesheet_link_tag 'reset', 'text', '960', 'application', :cache => true %>
    <%= javascript_include_tag 'jquery', 'rails', 'application', :cache => true %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container_24"> 
      <%= yield %>
    </div>
  </body>
</html>
